body {
    font-family: 'Lato';
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Catamaran';
    font-weight: 800 !important;
  }
  
  .btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  
  .bg-black {
    background-color: #0000009f !important;
  }
  
  .rounded-pill {
    border-radius: 5rem;
  }
  
  .navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  
  .navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  
  header.masthead {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }
  
  header.masthead .masthead-content {
    z-index: 1;
    position: relative;
  }
  
  header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
  }
  
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
  }
  
  header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
  }
  
  header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
  }
  
  header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
  }
  
  header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
  }
  
  header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
  }
  
  @media (min-width: 992px) {
    header.masthead {
      padding-top: calc(10rem + 55px);
      padding-bottom: 10rem;
    }
    header.masthead .masthead-content .masthead-heading {
      font-size: 6rem;
    }
    header.masthead .masthead-content .masthead-subheading {
      font-size: 4rem;
    }
  }
