body {
  font-size: 16px;
  color: #fff;
  background-color: mediumslateblue;
  font-family: "Comic Sans Ms";
}

/** HEADER **/
#header-nav {
  background-color: coral;
  border-radius: 0;
  border: 0;
}



* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



h1{
	font-family: "Old English Text MT";
	color: darkslategray;
}
.box {
  background-color: #ffaa99;
	border: 2px solid black;
  color: #ffffff;
  font-size: 14px;
  background-color: firebrick;
}

.box p{
	text-align:justify;
	padding:10px;
}



.navbar-brand h1 { 
  font-family: 'Harlow Solid Italic';
  color:chartreuse;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  font-size:30px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


[class*="col-"] {
    float: left;
    padding: 20px;
}
#nav-list {
  
  background-color: aquamarine;
}
#nav-list a {
  color: #951C49;
  
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -55px;
}



/********** Extra small devices only **********/
@media (max-width: 768px) {
  /* Header */
  .navbar-brand {
    
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
   
  }
  
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }


  /* End Header */

}
