p{
  margin-top: 20px;
  width:90%;
  height: 20%;
  content:auto;
  padding-top:10px;  
}
h2
{
  text-align: center;
  margin-top: 100px;
}
.row
{
  width:100%; 
}


#box
{
  border:2px solid black;
  background-color: grey;
  padding:0px 0px 10px 20px;
  width:100%;
  height: 80%;
  margin: 20px 20px 20px 20px;  
  box-sizing: border-box;
  display: block;     
}
#chicken
{
  border:2px solid black;
  background-color:pink;
  float: right;
  padding-left:30px;
  padding-right:30px;   
}
#Beef
{
  border:2px solid black;
  background-color:maroon;
  float:right;
  padding-left:40px;
  padding-right:40px;

}
#Sushi
{
  border:2px solid black;
  background-color:gold;
  float:right;
  padding-left:40px;
  padding-right:40px;  
}